@model ProjectCuoiki.Models.footer

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/admin/Views/Shared/layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>footer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.meta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.meta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.datebegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datebegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aboutus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aboutus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
