@model IEnumerable<ProjectCuoiki.Models.Invoice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/layout.cshtml";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Table News</h1>
    <a class="btn btn-primary my-3  " href="@Url.Action("Create","Invoices")">Thêm mới</a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4 ">
        <div class="card-header py-3 d-flex justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
            @*<select class="form-control" style="width:200px" id="Type">
                    <option value="">Tất cả loại sản phẩm</option>
                    @foreach (var i in ViewBag.listType)
                    {
                        <option value="@i.id">@i.name</option>
                    }
                </select>*@
        </div>
        <div class="card-body">
            <div class="table-responsive" id="getProduct">
                <table class="table table-bordered text-center " id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Mã hóa đơn</th>
                            <th>Tên khách hàng</th>
                            <th>SĐT khách hàng</th>
                            <th>Email khách hàng</th>
                            <th>Địa chỉ khách hàng</th>
                            <th>Tổng tiền</th>
                            <th>Ngày đặt</th>
                            <th>Ngày giao</th>
                            <th>Giao hàng</th>
                            <th>Trạng thái </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Mã hóa đơn</th>
                            <th>Tên khách hàng</th>
                            <th>SĐT khách hàng</th>
                            <th>Email khách hàng</th>
                            <th>Địa chỉ khách hàng</th>
                            <th>Tổng tiền</th>
                            <th>Ngày đặt</th>
                            <th>Ngày giao</th>
                            <th>Giao hàng</th>
                            <th>Trạng thái </th>
                            <th>Thao tác</th>
                        </tr>
                    </tfoot>
                    <tbody>





                        @foreach (var i in Model)
                        {
                            <tr>
                                <td>@i.id</td>
                                <td>@i.NameCustomer</td>
                                <td>@i.PhoneCustomer</td>
                                <td>@i.EmailCustomer</td>
                                <td>@i.AddressCustomer</td>
                                <td>@i.Total.GetValueOrDefault().ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</td>
                                <td>@i.DateOrder</td>
                                <td>@i.DateDelivery</td>
                                <td>
                                    @if (i.status == false)
                                    {
                                        <i class="fas fa-times" style="color: #f70808;"></i>

                                    }
                                    else
                                    {
                                        <i class="fas fa-check" style="color: #18f109;"></i>

                                    }
                                </td>
                                <td>
                                    @if (i.delivered == false)
                                    {
                                        <i class="fas fa-times" style="color: #f70808;"></i>

                                    }
                                    else
                                    {
                                        <i class="fas fa-check" style="color: #18f109;"></i>

                                    }
                                </td>
                                <td><a class="btn btn-primary" href="@Url.Action("Edit","News", new {id=i.id})">Sửa</a><a href="@Url.Action("Delete","News", new {id=i.id})" class="btn btn-danger">Xóa</a></td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>