@model IEnumerable<ProjectCuoiki.Models.product>


<table class="table table-bordered text-center " id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Ngày tạo</th>
            <th>Công bố</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Tên sản phẩm</th>
            <th>Hình ảnh</th>
            <th>Giá</th>
            <th>Số lượng</th>
            <th>Ngày tạo</th>
            <th>Công bố</th>
            <th>Thao tác</th>
        </tr>
    </tfoot>
    <tbody>





        @foreach (var i in Model)
        {
            <tr>
                <td>@i.name</td>
                <td><img src="~/Uploads/img/products/@i.imgname" style="max-width:100px;object-fit:cover;" /></td>
                <td>@i.price.GetValueOrDefault().ToString("#,###", System.Globalization.CultureInfo.GetCultureInfo("vi-VN"))</td>
                <td>@i.quantity</td>
                <td>@i.datebegin</td>
                <td>
                    @if (i.hide == true)
                    {
                        <i class="fas fa-times" style="color: #f70808;"></i>

                    }
                    else
                    {
                        <i class="fas fa-check" style="color: #18f109;"></i>

                    }
                </td>
                <td><a class="btn btn-primary" href="@Url.Action("Edit","ProductTable", new {id=i.id})">Sửa</a><a href="@Url.Action("Delete","ProductTable", new {id=i.id})" class="btn btn-danger">Xóa</a></td>
            </tr>
        }

    </tbody>
</table>